NODE_ENV=development
FRONTEND_URL=http://localhost:5173

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=jazzprostudio_db

JWT_SECRET=jazzprostudio_super_secreto_2025_cambiar_en_produccion
JWT_EXPIRES_IN=8h
BCRYPT_ROUNDS=10
